
.flex.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container.p-5.m-3{
    background-color: #fff;
    border: 2px solid rgb(255, 245, 251);
    margin: 50px !important;
}

img{
    height: 250px;
    width: 250px;
}