{% load static %}


{# CUSTOM CSS #}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">


<nav class="navbar navbar-expand-lg navbar-light bg-dark ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

            <li class="nav-item active">
                <img class="nav-link" src="https://abhishek2x.github.io/techera/images/logoPREV.png" alt="Logo" height="50px"> 
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="{% url 'landing' %}">HOME <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="{% url 'skills' %}">CERTIFICATION</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="https://abhishek2x.github.io/techera/">LEARN</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="https://abhishek2x.github.io/techera/aboutUs.html">ABOUT</a>
            </li>
        </ul>
    </div>


    {% if user.is_authenticated %}
    <li class="nav-item dropdown">

        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user-circle-o " aria-hidden="true"></i>
            <span>{{ request.user.username }}</span>
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'user_detail' request.user.id %}">Dashboard</a>
            <a class="dropdown-item" href="{% url 'user_edit' request.user.id  %}">Edit Profile</a>
            <a class="dropdown-item" href="/accounts/logout">Logout</a>
        </div>

    </li>

    {% else %}
    <li class="nav-item dropdown">
        <a class="nav-link " href="/accounts/login" id="navbarDropdownMenuLink">
            <i class="fa fa-user-circle-o " aria-hidden="true"></i>
            <span>Login/Register</span>
        </a>
    </li>
    {% endif %}

</nav>