{% extends  'base.html' %}
{% load static %}
{% block content %}

{#  CUSTOM CSS  #}
<link rel="stylesheet" href="{% static 'css/skills.css' %}">


    <section class="row p-5">

        <div class="container">
            <div class="company">
                <h1>Certification</h1>
            </div>
            <hr>
            <br>

            <div class="card-group">

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Complexity Analysis</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                  <a href="" class="btn btn-success">Get Certified</a>
              </div>

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">HTML</h5>
                  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                </div>
                  <a href="" class="btn btn-success">Get Certified</a>
              </div>

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Java(Basic)</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
                  <a href="" class="btn btn-success">Get Certified</a>
              </div>

            </div>

            <div class="card-group">


              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">C++(Basic)</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                  <a href="" class="btn btn-success">Get Certified</a>
              </div>

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Python(Basic)</h5>
                  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                </div>
                  <a href="" class="btn btn-success">Get Certified</a>
              </div>

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">JavaScript</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
                  <a href="" class="btn btn-success">Get Certified</a>
              </div>

            </div>

        </div>
    </section>

{% endblock %}